# Firebase credentials
credentials/your-firebase-key.json
.env

# Python cache files
__pycache__/
*.py[cod]

# Environment files
.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
